[build]
  command = "npm run build"
  publish = "dist"
  functions = "functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@supabase/supabase-js", "dotenv", "resend", "cors", "express"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
